*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.container{
  width: 80vw;
  max-width: 1200px;
  margin: 0 auto;
}

button, a, i:hover{
  cursor: pointer;
}

/* INIZIO PARTE FIXED */
.container-fullwidth.fixed{
  background-color: #f5f8fa;
  border-bottom: 1px solid #cbd6e2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.container-fullwidth.fixed .container{
  font-weight: 500;
}

.fixed .container .language{
  width: 15%;
  /* height: 70px; */
  float: left;
  text-align: center;
  line-height: 70px;
}

.fixed .container .language p{
  color: #33475b;
  font-size: 14px;
}

.fixed .container .language p::before{
  content: "";
  background-image: url("https://cdn2.hubspot.net/hubfs/53/Logos/language-switcher-icon.svg");
  background-repeat: no-repeat;
  display: inline-block;
  background-size: 15px;
  height: 25px;
  width: 15px;
  margin-right: 10px;
  vertical-align: middle;
}

.fixed .container .language p::after{
  content: "";
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  display: inline-block;
  background-size: 15px;
  height: 30px;
  width: 20px;
  vertical-align: middle;
  margin-left: 10px;
}

.fixed .container .contact-us{
  width: 15%;
  /* height: 70px; */
  float: left;
  text-align: left;
  line-height: 70px;
}

.fixed .container .contact-us a{
  text-decoration: none;
  color: #33475b;
  font-size: 14px;
}

.fixed .container .account-mng{
  width: 70%;
  /* height: 70px; */
  float: left;
  text-align: right;
  line-height: 70px;
  letter-spacing: 10px;
  padding-right: 20px;
}

.fixed .container .account-mng i{
  color: #09a7c0;
}

.fixed .container .account-mng .log-in{
  padding: 5px 10px;
  border-radius: 5px;
  color: #ff7a59;
  border-style: solid;
  border-color: #ff7a59;
  border-width: 1px;
  background-color: white;
}

.fixed .container .account-mng .get-hub{
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  border-style: solid;
  border-color: #ff7a59;
  border-width: 1px;
  background-color: #ff7a59;
}
/* FINE PARTE FIXED */

/* INIZIO HEADER */
.container-fullwidth.one{
  margin-top: 75px;
}

.container-fullwidth.one .logo{
  width: 15%;
  /* height: 100px; */
  float: left;
  text-align: center;
  line-height: 70px;
}

.container-fullwidth.one .logo img{
  margin-top: 20px;
}

.container-fullwidth.one .menu{
  width: 85%;
  /* height: 100px; */
  float: left;
  line-height: 70px;
  text-align: right;
}

.container-fullwidth.one .menu ul{
  font-weight: 700;
  margin-right: 20px;
}

.container-fullwidth.one .menu ul li{
  display: inline-block;
}

.container-fullwidth.one .menu ul li a{
  margin: 0 20px;
  color: #33475b;
}
/* FINE HEADER */

/* INIZIO PARTE PROMOZIONALE */
.container-fullwidth.two{
  background-color: #425b76;
}

.container-fullwidth.two .container{
  padding: 20px;
  line-height: 25px;
}

.container-fullwidth.two .container p{
  float: left;
  color: #ffffff;
  margin-bottom: 20px;
}

.container-fullwidth.two .container button{
  float: right;
  padding: 10px 20px;
  border-radius: 5px;
  color: #425b76;
  border-style: none;
  border-width: 1px;
  background-color: white;
  font-weight: 700;
}
/* FINE PARTE PROMOZIONALE */

/* INIZIO JUMBOTRON */
.container-fullwidth.three{
  background-color: #fff3ee;
  border-bottom: 3px solid #33475b;
  background-image: url("../img/jumbowall.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.container-fullwidth.three .container{
  padding-bottom: 330px;
}

.container-fullwidth.three .container .jumbotron{
  width: 50%;
  padding-top: 100px;
  padding-left: 30px;
}

.container-fullwidth.three .container .jumbotron h1{
  font-size: 60px;
  line-height: 70px;
  font-weight: bolder;
  color: #33475b;
  margin-bottom: 30px;
}

.container-fullwidth.three .container .jumbotron p{
  font-weight: lighter;
  color: #33475b;
  line-height: 25px;
  margin-bottom: 20px;
}

.container-fullwidth.three .container .jumbotron button{
  padding: 25px 65px;
  border-radius: 5px;
  color: white;
  border-style: solid;
  border-color: #ff7a59;
  border-width: 1px;
  background-color: #ff7a59;
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 20px;
}

.container-fullwidth.three .container .jumbotron small{
  color: #33475b;
  display: block;
}
/* FINE JUMBOTRON */

/* INIZIO MAIN */
/* Primo blocco main */
  .container-fullwidth.four{
    background-color: #f5f8fa;
  }

  .container-fullwidth.four .container{
    text-align: center;
  }

  .container-fullwidth.four .container img{
    margin-top: 90px;
    width: 260px;
  }

  .container-fullwidth.four .container h1{
    color: #33475b;
    margin-bottom: 25px;
  }

  .container-fullwidth.four .container p{
    color: #33475b;
    margin-bottom: 60px;
  }
/* Fine primo blocco main */

/* Secondo blocco main */
.container-fullwidth.five{
  background-color: #f5f8fa;
  padding-bottom: 40px;
}

.container-fullwidth.five .container{
  padding-left: 30px;
}

.container-fullwidth.five .container .content{
  background-color: #ffffff;
}

.container-fullwidth.five .container .content:hover{
  transition: 0.4s;
  transform: scale(103%);
}

.container-fullwidth.five .container .section-one{
  float: left;
  width: 30%;
  text-align: center;
  position: relative;
  padding-top: 50px;
  padding-left: 70px;
}

.container-fullwidth.five .container .section-one img{
  width: 150px;
  margin-bottom: 10px;
  /* display: inline; */
}

.container-fullwidth.five .container .section-one button{
  padding: 10px 15px;
  border-radius: 5px;
  color: white;
  border-style: solid;
  border-color: #ff7a59;
  border-width: 1px;
  background-color: #ff7a59;
  position: absolute;
  top: 210px;
  left: 60%;
  transform: translatex(-50%);
}

.container-fullwidth.five .container .section-two{
  float: left;
  width: 70%;
  padding-top: 50px;
  padding-bottom: 60px;
}

.container-fullwidth.five .container .section-two .features-one{
  text-align: left;

  padding-left: 50px;
}

.container-fullwidth.five .container .section-two .features-one h4{
  color: #33475b;
  font-size: 20px;
  margin-bottom: 20px;
}

.container-fullwidth.five .container .section-two .features-one p{
  color: #33475b;
  font-size: 15px;
  margin-bottom: 30px;
}

.container-fullwidth.five .container .section-two .features-two{
  text-align: left;
  padding-left: 50px;
}

.container-fullwidth.five .container .section-two .features-two hr{
  float: right;
  width: 70%;
  position: relative;
  top: 7.5px ;
  right: 30px;
  color: #33475b70;
}

.container-fullwidth.five .container .section-two .features-two p{
  color: #33475b;
  margin-bottom: 15px;
}

.container-fullwidth.five .container .section-two .features-two ul{
  font-size: 14px;
  color: #33475b;
}

.container-fullwidth.five .container .section-two .features-two ul li{
  display: inline-block;
  padding-right: 30px;
}

.container-fullwidth.five .container .section-two .features-two ul li::before{
  content: "";
  background-image: url("https://cdn2.hubspot.net/hubfs/53/assets/hubspot.com/partners/images/Orange_Checkmark.svg");
  display: inline-block;
  background-size: 20px;
  height: 20px;
  width: 20px;
  margin-right: 10px;
  vertical-align: middle;
}
/* Fine secondo blocco main */

/* Terzo blocco main */
.container-fullwidth.six{
  background-color: #f5f8fa;
}

.container-fullwidth.six .container{

}

.container-fullwidth.six .container .card-one{
  width: 33.3333%;
  float: left;
  padding-left: 30px;
}

.container-fullwidth.six .container .card-one #content{
  background-color: #ffffff;
  text-align: center;
  margin-bottom: 150px;
}

.container-fullwidth.six .container .card-one #content img{
  width: 150px;
  margin-top: 40px;
}

.container-fullwidth.six .container .card-one #content h2{
  color: #33475b;
  margin-top: 20px;
  margin-bottom: 20px;
}

.container-fullwidth.six .container .card-one #content p{
  color: #33475b;
  font-size: 15px;
}

.container-fullwidth.six .container .card-two{
  width: 33.3333%;
  float: left;
  padding-left: 30px;
}

.container-fullwidth.six .container .card-two #content{
  background-color: #ffffff;
  text-align: center;
  margin-bottom: 150px;
}

.container-fullwidth.six .container .card-two #content img{
  width: 150px;
  margin-top: 40px;
}

.container-fullwidth.six .container .card-two #content h2{
  color: #33475b;
  margin-top: 50px;
  margin-bottom: 20px;
}

.container-fullwidth.six .container .card-two #content p{
  color: #33475b;
  font-size: 15px;
}

.container-fullwidth.six .container .card-three{
  width: 33.3333%;
  float: left;
  padding-left: 30px;
}

.container-fullwidth.six .container .card-three #content{
  background-color: #ffffff;
  text-align: center;
  margin-bottom: 150px;
}

.container-fullwidth.six .container .card-three #content img{
  width: 150px;
  margin-top: 30px;
}

.container-fullwidth.six .container .card-three #content h2{
  color: #33475b;
  margin-top: 15px;
  margin-bottom: 20px;
}

.container-fullwidth.six .container .card-three #content p{
  color: #33475b;
  font-size: 15px;
}

.container-fullwidth.six .container hr{
  width: 70%;
  color: #33475b70;
  margin: 30px auto;
}

.container-fullwidth.six .container #pf{
  color: #33475b;
  font-size: 15px;
  margin-bottom: 15px;
}

.container-fullwidth.six .container ul{
  list-style: none;
  text-align: left;
  position: relative;
  left: 50px;
}

.container-fullwidth.six .container ul li{
  font-size: 14px;
  color: #33475b;
}

.container-fullwidth.six .container ul li::before{
  content: "";
  background-image: url("https://cdn2.hubspot.net/hubfs/53/assets/hubspot.com/partners/images/Orange_Checkmark.svg");
  display: inline-block;
  background-size: 20px;
  height: 20px;
  width: 20px;
  margin-right: 10px;
  vertical-align: middle;
}

.container-fullwidth.six .container .button{
  text-align: center;
  padding: 30px;
}

.container-fullwidth.six .container .button button{
  padding: 10px 15px;
  border-radius: 5px;
  color: white;
  border-style: solid;
  border-color: #ff7a59;
  border-width: 1px;
  background-color: #ff7a59;
}

.container-fullwidth.six .container #content:hover{
  transform: scale(103%);
  transition: 0.4s;
}
/* Fine terzo blocco main */

/* Quarto blocco main */
.container-fullwidth.seven{
  background-color: #00adb4;
  padding-bottom: 140px;
}

.container-fullwidth.seven .container{
  text-align: center;
  padding-top: 140px;
}

.container-fullwidth.seven .container h1{
  color: #ffffff;
  font-size: 30px;
}

.container-fullwidth.seven .container p{
  color: #ffffff;
  font-size: 15px;
  margin-top: 25px;
  margin-bottom: 50px;
}

.container-fullwidth.seven .container .subcontainer .piece{
  width: 25%;
  height: 200px;
  float: left;
  text-align: center;
  border: 1px solid #ffffff;
  padding-top: 30px;
}

.container-fullwidth.seven .container .subcontainer .piece.one{
  border-top: none;
  border-left: none;
}

.container-fullwidth.seven .container .subcontainer .piece.two{
  border-top: none;
}

.container-fullwidth.seven .container .subcontainer .piece.three{
  border-top: none;
}

.container-fullwidth.seven .container .subcontainer .piece.four{
  border-top: none;
  border-right: none;
}

.container-fullwidth.seven .container .subcontainer .piece.five{
  border-bottom: none;
  border-left: none;
}

.container-fullwidth.seven .container .subcontainer .piece.six{
  border-bottom: none;
}

.container-fullwidth.seven .container .subcontainer .piece.seven{
  border-bottom: none;
}

.container-fullwidth.seven .container .subcontainer .piece.eight{
  border-bottom: none;
  border-right: none;
}

.container-fullwidth.seven .container .subcontainer .piece p{
  margin-top: 10px;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #ffffff;
}

.container-fullwidth.seven .container .subcontainer .piece p::after{
  content: "+";
  font-size: 15px;
  vertical-align: middle;
  color: #ffffff;
}

.container-fullwidth.seven .container .subcontainer .piece small{
  color: #ffffff;
}
/* Fine quarto blocco main */

/* Inizio quinto blocco main */
.container-fullwidth.eight{
  padding-bottom: 50px;
}

.container-fullwidth.eight .container{
  padding-top: 100px;
}

.container-fullwidth.eight .container #one{
  width: 40%;
  float: left;
  text-align: left;
  padding-left: 80px;
}

.container-fullwidth.eight .container #one p{
  margin-top: 10px;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #33475b;
}

.container-fullwidth.eight .container #one small{
  font-size: 18px;
  line-height: 30px;
  color: #33475b;
}

.container-fullwidth.eight .container #two{
  width: 60%;
  float: left;
  text-align: center;
}

.container-fullwidth.eight .container #two img{
  width: 150px;
  float: left;
  padding: 30px 20px;
}
/* Fine quinto blocco main */

/* Inizio sesto blocco main */
.container-fullwidth.nine{
  background-color: #ffffff;
}

.container-fullwidth.nine .container{
  padding-bottom: 150px;
}

.container-fullwidth.nine .container .left{
  width: 60%;
  padding-top: 100px;
  padding-left: 30px;
  float: left;
}

.container-fullwidth.nine .container .left h1{
  font-size: 35px;
  line-height: 70px;
  font-weight: bolder;
  color: #33475b;
  margin-bottom: 30px;
}

.container-fullwidth.nine .container .left p{
  font-weight: lighter;
  color: #33475b;
  line-height: 25px;
  margin-bottom: 20px;
}

.container-fullwidth.nine .container .left button{
  padding: 25px 65px;
  border-radius: 5px;
  color: white;
  border-style: solid;
  border-color: #ff7a59;
  border-width: 1px;
  background-color: #ff7a59;
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 20px;
}

.container-fullwidth.nine .container .left small{
  color: #33475b;
  display: block;
}

.container-fullwidth.nine .container .right{
  text-align: center;
  float: left;
  width: 40%;
  padding-top: 100px;
  padding-left: 30px;
}

.container-fullwidth.nine .container .right img{
  width: 350px;
}
/* Fine sesto blocco main */


/* FINE MAIN */
